*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:  grid;
    place-content: center;
    height: 100vh;
    animation: bg 2s ease-in-out infinite ;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

@keyframes bg {
    0%{background-color: red; color: white;}
    20%{background-color: yellow; color:black;}
    40%{background-color: green; color: gray;}
    60%{background-color: rgb(13, 87, 214); color: slateblue;}
    80%{background-color: rgb(102, 23, 181);color: rgb(44, 44, 59);}
    100%{background-color: red; color: white;}
}


.calculator{
    background: rgb(74,73,76);
    background: linear-gradient(90deg, rgba(74,73,76,1) 0%, rgba(188,188,203,0.9178082191780822) 35%, rgba(97,95,98,1) 100%);
    width: 40vw;
    height: 60vh;
    border-radius: 0.6rem;
    padding: 1rem 1rem;
    background: rgb(2,0,36);
  
}
.calculator:hover{
    box-shadow: 0 0 20px 4px #e7e1e1;
    border: none;
}

@media only screen and (min-width: 100px) {
    .calculator{
         width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 300px) {
    .calculator{
         width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 500px) {
    .calculator{
         width: fit-content;
        height: fit-content;
    }
}

@media only screen and (min-width: 600px) {
    .calculator{
          width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 700px) {
    .calculator{
         width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 800px) {
    .calculator{
          width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 900px) {
    .calculator{
        width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 1000px) {
    .calculator{
         width: fit-content;
        height: fit-content;
    }
}
@media only screen and (min-width: 1200px) {
    .calculator{
           width: fit-content;
        height: fit-content;
    }
}


.screen{
    background-color: rgb(120, 115, 115);
    box-shadow: 0 0 10px 1px rgb(62, 60, 60);
    border: none;
    outline: none;
    margin: 0.6rem auto 1rem auto;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 0.5rem;
    /* pointer-events: none; */
}
.screen:hover{
    box-shadow: 0 0 4px 4px rgb(7, 93, 241);
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.btn{
    margin: 10px 10px;
    padding: 15px 5px;
    font-size: 20px;
    border-radius: 50%;

}
.functionBtn{
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px 2px #313131;
    display: grid;
    place-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.functionBtn:hover{
    box-shadow: 0 0 10px 5px #f2bd0e;
    transform: scale(1.1,1.1);
}

.numBtn{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 2px #313131;
    display: grid;
    place-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.numBtn:hover{
    box-shadow: 0 0 10px 5px rgb(7, 93, 241);
    transform: scale(1.1,1.1);
}

.outputBtn{
    background-color: #303030;
    color: white;
    box-shadow: 0 0 10px 2px #313131;
    display: grid;
    place-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.outputBtn:hover{
    box-shadow: 0 0 10px 5px #e80808;
    transform: scale(1.1,1.1);
}

.back-btn{
    font-size: 12px;
}